.game-over {
  display: block;
  font-size: 5em;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  z-index: 9999;
  color: red;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 5;
}

.dim {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1 !important;
    background-color:black;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
      -moz-opacity: 0.75;      /* mozilla, netscape */
           opacity: 0.75;      /* fx, safari, opera */
}
